/*Using Selection for JQUERY*/

/*Assuming we have a class in CSS but not in HTML and you want to append the two*/
/*.higlight{
    color: #F00;
}*/

/*

.highlight{

    background-color: #FF0;
    color: blue;
}

.item{
    margin-left: 8px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #CCFFCC;
}

.box-button{
    width: 100px;
    height: 20px;
    background-color: #CCF;

    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.highlight{
    background-color: #FCC;
}*/

/**********************************Above was for Practice******************************************/


body,html{
    background-color: #EEE;
/*    height: 100%;*/

    padding: 20px;;
}

#container {
    background-color: #FFF;
    padding: 20px;
   /*height: 100vh;*/
    box-shadow: 10px 10px 5px grey;

}

.item{

    width: 200px;
    background-color: #DDD;
    padding: 8px;
    float: left;
    margin: 4px;

}

.item img{
    width: 100%;
}

.item .name
{
    font-size: 24px;
}

.item .price
{
    margin-top: 8px;
    margin-bottom: 8px;
}